@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@keyframes flash-black {
  0%, 100% {
    background-color: transparent; /* Hoặc màu nền gốc của list item */
    color: green !important; /* Hoặc màu chữ gốc của list item */
  }
  50% {
    background-color: rgba(2, 12, 3, 0.1); /* Một chút đen nhạt */
    color: green !important;
  }
}

.flash-black {
  animation: flash-black 1.5s ease-in-out infinite;
}

@media (max-width: 768px) {
  .container {
    padding: 8px;
  }
  h1, h2, h3 {
    font-size: 1.2rem;
  }
  .some-class {
    flex-direction: column;
  }
}

/* Ẩn spinner trên input type="number" cho Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Ẩn spinner trên input type="number" cho Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}